body {
    background-image:"Turtlr2.jpg";
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0f1d28;
    text-align: center;
  }
  
  li {
    display: inline;
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: rgb(200, 201, 202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover, .dropdown:hover .dropbtn {
    background-color: #443bc0;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0f1d28;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(14, 36, 149, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(237, 233, 233);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #57529f;}

.dropdown:hover .dropdown-content {
  display: block;
}

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

*{
  box-sizing: border-box;
}

.bg-image {
  background-image: url("images/Turtle2.jpg");
  filter: blur(0.5px);
  -webkit-filter: blur(1px);
  height: 70%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.8); 
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.gallery-image {
  padding: 50px;
  margin: 100px;
  display: contents;
  flex: 1 ;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end ;
  float: inline-start;

}

.gallery-image img {
  height: 200px;
  width: 300px;
  padding: 10px;
  transform: scale(1.0);
  transition: transform 0.2s ease;
}

.img-box {
  box-sizing: content-box;
  margin: 10px;
  height: 210px;
  width: 310px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  text-align: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
  height: 200px;
  width: 310px;
  background-color:rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.img-box:hover img { 
  transform: scale(1.1);
}

.img-box:hover .transparent-box {
  background-color:rgba(0, 0, 0, 0.5);
}

.img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.img-box:hover {
  cursor: pointer;
}

.caption > p:nth-child(2) {
  font-size: 0.8em;
}


.section {
  width: 100%;
  display: inline-block;
  background: #332b7a;
  height: 100px;
  text-align: center;
  font-size: 22px;
  font-weight: 300px;
  text-decoration: underline;
}

.footer-distributed{
  background: #38467e;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left{
  width: 40%;
}

.footer-distributed h3{
  color:  lightgoldenrodyellow;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}


.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #b4a2d4;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 25px;
  color:  #92999f;
  font-size: 15px;
  font-weight: normal;
  margin: 2;
}

.footer-distributed .footer-company-about span{
  display: initial;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}


@media (max-width: 950px){



  .footer-distributed{
    font: bold 14px sans-serif;
  }

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 1;
  }
}

.fa-facebook {
  background: #3B5998;
  color: white;
  font-size: 25px;
  width: 22px;
  padding: 15px;
  margin: 3px 1px;
  text-align: center;
}

.fa-twitter {
  background: #4630ec;
  color: white;
  font-size: 25px;
  width: 22px;
  padding: 15px;
  margin: 3px 1px;
  text-align: center;
}

.fa-instagram {
  background: #ec0f58;
  color: white; 
  font-size: 25px;
  width: 22px;
  padding: 15px;
  margin: 3px 1px;
  text-align: center;
}


body {
  background-color: #f1f1f1;
  padding: 20px;
  font-family: Arial;
}

.main {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-size: 50px;
  word-break: break-all;
}

.row {
  margin: 4px -8px;
}

.row,
.row > .column {
  padding: 8px;
}

.column {
  float: left;
  width: 50%;
}

 
.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 950px) {
  .column {
    width: 80%;
  }
}


@media screen and (max-width: 950px) {
  .column {
    width: 80%;
  }
}

img {
  float: left;
}

.container {
  position: relative;
  font-family: Arial;
}

.text-block {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: rgb(7, 15, 77, 0.7);
  color: white;
  padding-left: 80px;
  padding-right: 50px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center
}

map {
  max-width: 100%;
  max-height:100%;
}

.text {
  font-size: 20px;
  padding-left: 20px;
}

.button1 {
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #291c6a;
  border-radius: 15px;
  outline: none;
  transition: 0.3s;
  border: 2px solid transparent;
  font-size: 30px;
  cursor: pointer;
  margin: 6px 3 px;
}
.button1:hover,
.button1:focus {
  background-color: #36374d;
  border-color: #58043d;
}

.button1 {width: 100%;}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #36374d;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 40%;
  font-size: 30x;
}

input[type=submit]:hover {
  background-color: #616b9d;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2c0;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#Categories {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#Categories td, #Categories th {
  border: 2px solid #ddd;
  padding: 20px;
}

#Categories tr:nth-child(even){background-color: #f2f2f2;}

#Categories tr:hover {background-color: #ddd;}

#Categories th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: #2c298b;
  color: white;
}

.button2 {
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #090b6e;
  border-radius: 6px;
  outline: none;
  transition: 0.3s;
  border: 2px solid transparent;
  font-size: 20px;
}
.button2:hover,
.button2:focus {
  background-color: #3c3f3f;
  border-color: #424444;
}
.button2 {width: 50%;}

.button3 {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  float: right;
  text-decoration: none;
  color: #ffffff;
  background-color: #060716;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  border: 2px solid transparent;
}
.button3:hover,
.button3:focus {
  background-color: #060445;
  border-color: #424444;
}
.button3 {width: 40%;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: rgb(139, 129, 234);
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}


.column2 {
  float: left;
  width: 25%;
  padding:  10px;
}

.row2 {margin: 5px;}

.row2:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 500px) {
  .column2 {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

ol.inc {
  list-style-type: disc;
}

img {
  border-radius: 12px;
}
